certifi==2019.9.11
cycler==0.10.0
descartes==1.1.0
joblib==0.14.0
kafka==1.3.5
kiwisolver==1.1.0
matplotlib==3.1.2
mizani==0.6.0
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.17.4
palettable==3.3.0
pandas==0.25.3
patsy==0.5.1
pika==1.0.1
plotly==4.3.0
plotnine==0.6.0
pyparsing==2.4.5
PySnooper==0.0.39
python-dateutil==2.8.1
pytz==2019.3
retrying==1.3.3
scikit-learn==0.21.3
scipy==1.3.3
six==1.13.0
statsmodels==0.10.2
toml==0.10.0
tox==3.9.0
fbprophet